{% extends "base.html" %}
{% block title %} Планы {% endblock %}
{% load static %}
{% block content %}
<div class="main-todo"></div>
<img class="td" src="{% static 'images/lf.png' %}">
<!--index.html-->
<div class="todo">
{% if object_list %}
<h3 class="h3"> Все твои списки </h3>

{% endif %}

    {% for todolist in object_list %}
        <div
            class="list-todo"
            role="button"
            onclick="location.href='{% url "list" todolist.id %}'">
            <p> <span class="badge badge-secondary badge-pill">todo</span> {{ todolist.title }} </p>
        </div>
       <p></p>

    {% empty %}
    <div class="alert alert-success" role="alert">
        <h5 class="alert-heading" style="text-align: center;">У тебя нет планов!</h5>
      </div>
    {% endfor %}


    {% if user.is_staff %}
    <div class="h3">
    <button
        type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "list-add" %}'"/>
    Добавить список дел
    </button>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}