{% extends "base.html" %}
{% block title %} To do {% endblock %}

{% block content %}
    <div class="title">

    </div>
<!--index.html-->
{% if object_list %}
<h3>All my lists</h3>
{% endif %}

    {% for todolist in object_list %}

        <div
            class="button"
            role="button"
            onclick="location.href='{% url "list" todolist.id %}'">
            <p class="btn"> {{ todolist.title }} </p>
        </div>

    {% empty %}
    <h4>You have no lists!</h4>
    {% endfor %}


    <div class="b">
    <button
        type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "list-add" %}'"/>
    Add a new list
    </button>
    </div>
{% endblock %}