{% extends "base.html" %}
{% block title %} To do {% endblock %}
{% load static %}
{% block content %}
<div class="main-todo"></div>
<img class="td" src="{% static 'images/lf.png' %}">
<!--index.html-->
<div class="todo">
{% if object_list %}
<h3 class="h3">All my lists</h3>

{% endif %}

    {% for todolist in object_list %}
        <div
            class="list-todo"
            role="button"
            onclick="location.href='{% url "list" todolist.id %}'">
            <p> <span class="badge badge-secondary badge-pill">todo</span> {{ todolist.title }} </p>
        </div>
       <p></p>

    {% empty %}
    <h4>You have no lists!</h4>
    {% endfor %}


    <div class="h3">
    <button
        type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "list-add" %}'"/>
    Add a new list
    </button>
    </div>
</div>
</div>
{% endblock %}