{% extends "base.html" %}
{% block title %} To do {% endblock %}
{% block content %}
<div>
    <div>
        <div>
            <h3>Edit list:</h3>
            <h3>{{ todo_list.title | upper }}</h3>
        </div>

            {% for todo in object_list %}
            {% if todo.is_done %}

                <div>
                    <div
                        class="button"
                        role="button"
                        onclick="location.href= '{% url "item-update" todo_list.id todo.id %}'">
                        <p class="btn"><s>{{ todo.title }}
                            (Due {{ todo.due_date | date:"l, F j" }}) </s></p>
                    </div>
                </div>

           {% else %}

                <div>
<ul class="list-group ">
  <li class="list-group-item list-group-item-dark justify-content-between align-items-center">
      <a href="{% url "item-update" todo_list.id todo.id %}">{{ todo.title }}</a>
    <span class="badge badge-primary badge-pill">todo</span>
  </li>

</ul>
                </div>

           {% endif %}
            {% empty %}

            <p><center>There are no to-do items in this list.</center></p>
            {% endfor %}
<p></p>
  <div class="flor_but">
            <button type="button" onclick="location.href='{% url "item-add" todo_list.id %}'"
                class="btn btn-outline-secondary" >Add a new item</button>
            <button type="button" onclick="location.href='{%  url "list-delete" todo_list.id  %}'"
                class="btn btn-outline-secondary" >Delete this list </button>
            <button type="button" onclick="location.href='{% url "index" %}'"
                class="btn btn-outline-secondary" >Back to lists</button>
</div>

{% endblock %}