{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<!--todolist_confirm_delete.html-->
<br>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Удалить список</h4>
    <p>Ты уверен, что хочешь удалить список?</p>
    <hr>
    <p class="mb-0">Список дел: {{ object.title }}</p>
  </div>


<form method="POST">
    {% csrf_token %}
    <input
        class="btn btn-outline-danger"
        value="Удалить"
        type="submit">
    <input
        class="btn btn-outline-secondary"
        value="Отмена"
        type="button"
        onclick="location.href='{% url "index" %}';">
</form>

{% endblock %}