{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<h3>{{ title }}</h3>
<div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input
                class="btn btn-secondary"
                value="Save"
                type="submit">
            <input
                class="btn btn-secondary"
                value="Cancel"
                type="button"
                onclick="location.href='{% url "index" %}';">
        </form>
    </div>
</div>

{% endblock %}