{% extends "base.html" %}
{% block title %} To do {% endblock %}
{% block content %}

<br>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Удалить дело</h4>
    <p>Ты уверен, что хочешь удалить дело из списка {{ todo_list.title }}?</p>
    <hr>
    <p class="mb-0">Дело: {{ object.title }}</p>
  </div>


<form method="POST">
    {% csrf_token %}
    <input
        class="btn btn-outline-danger"
        value="Удалить"
        type="submit">
    <input
        class="btn btn-outline-secondary"
        value="Отмена"
        type="button"
        onclick="location.href='{% url "list" todo_list.id %}';">
</form>

{% endblock %}