{% extends 'base.html' %}
{% load run_tags %}
{% load static %}
{% block title %} Бег {% endblock title %}

{% block content %}
<h2 align="center"><font color="1B545F" face="Ubuntu"> Беговая статистика </font> </h2>
<img class="run" src="{% static 'images/buty1.jpg' %}">
<p></p>

<table border="1" class="table table-striped" style="width:80%">
  <thead>
  <tr>
    <th>Год</th>
    <th> Всего </th>
{%get_monthies as mon %}
    {% for m in mon %}
    <th> {{ m|capfirst }} </th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for year in years %}
  <tr>
        
      <th> {{ year.year }} </th>
      <td class="table-primary">{% get_total year %}</td>
      {% for m in year.get_month %}
          <td style="text-align: center;">{{ m }} </td>
        {% endfor %}
  </tr>
  {% endfor %}
  <tbody>
</table>
<button type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "new_year" %}'"/>
Добавить</button>

<button type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "year_list" %}'"/>
Редактировать
</button>
<br>

{% endblock content %}
