.table {
    text-align:center;
}

.title{
    margin-bottom: 20px;
    border-bottom: 1px solid;
    text-align: center;
}
h3{
    text-align: center;
}
.button{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #A5BEC4;
  border-radius: 25px;
  text-align: center;
}
.b{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}
.btn{
    padding-top: 10px;
}
.header {
	background: #5A8687;
	height: 120px;
}
.flor{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 37%;
}
.but{
    background:#4B5650;
    height: 30px;
    width: 180px;
}
.text{
    margin: auto;
    width: 8em;
}
.nav-item {
    font-size: 2em;
}