{% extends "base.html" %}
{% block title %} Blog {% endblock %}

{% block content %}

<!--index.html-->
{% if object_list %}
<h3>All my notes </h3>
{% endif %}

    {% for post in object_list %}
    <div class="button">
        <h4><a href="{% url 'post_detail' post.id %}"> {{ post.title }}</a> </h4>
        <p>{{ post.body }}</p>
    </div>
    {% endfor %}
    <div class="b">
    <button
        type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "post_new" %}'"/>
        New blog post
    </button>
    </div>
{% endblock %}