{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ post.title}} {% endblock %}
{% load static %}
{% block content %}

<!--index.html-->
    <div class="post-detail">
        <img class="img-post-det" src="{% static 'images/blog.jpg' %}" >
        <h3 class="h3">{{ post.title}}</h3>
        <p style="text-align: center;"> Автор: {{ post.author }} | {{ post.date }}</p>
        <hr>
        <p>{{ post.body }}</p>
    </div>
<div class="btn-bot">
    <button
        type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "blog_home" %}'"/>
    На главную
    </button>

    <button
        type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "post_edit" post.slug %}'"/>
    Редактировать
    </button>

    <button
        type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "post_delete" post.slug %}'"/>
    Удалить пост
    </button>
</div>
<br>
<div class="comment">
    <form method="post" name="comment">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-outline-secondary" >Отправить</button>
    </form>
    <br>
    {% for comment in comms %}
        <div class="alert alert-secondary" role="alert">
            <p class="alert-heading">Автор: {{comment.author}}
                <hr>
            <p> {{ comment.body }} 
        </div>
    {% endfor %}
</div>
{% endblock %}