{% extends "base.html" %}
{% block title %} {{ object.title}} {% endblock %}
{% load static %}
{% block content %}

<!--index.html-->
    <div class="post-detail">
        <img class="img-post-det" src="{% static 'images/blog.jpg' %}" >
        <h3 class="h3">{{ object.title}}</h3>
        <p style="text-align: center;"> author: {{ object.author }} | {{ object.date }}</p>
        <hr>
        <p>{{ object.body }}</p>
    </div>
<div class="btn-bot">
    <button
        type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "blog_home" %}'"/>
    Back to all notes
    </button>

    <button
        type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "post_edit" post.pk %}'"/>
    Edit post
    </button>

    <button
        type="button" class="btn btn-outline-secondary"
        onclick="location.href='{% url "post_delete" post.pk %}'"/>
    Delete post
    </button>
</div>
{% endblock %}