<!-- Base template -->
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Simple.css-->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Deriabin</title>
</head>

<body>

    <div>
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>