<!-- Base template -->
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %} Deriabin {% endblock %}</title>
</head>

<body>
    <div class="header">
        <ul class="mainmenu">
            <li class="logo">
                <a href="{% url 'home' %}">
                    <div class="logo"> <img src="{% static 'images/logo1.jpg' %}"></div>
                </a>
            </li>
            <li>
                <a href="{% url 'index' %}">To do List </a>
            </li>
            <li>
                <a href="{% url 'blog_home' %}">Blog</a>
            </li>
            <li>
                <a href="#">Read</a>
            </li>
            <li>
                <a href="{% url 'run_home' %}">Run</a>
            </li>
            {% if not user.is_authenticated %}
            <li>
                <a href="{% url 'login' %}">Log in</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'logout' %}">Log out</a>
            </li>
            {% endif %}
        </ul>

    </div>
{% if  user.is_authenticated %}
    <p>Hi, {{ user.username }}!</p>
    {% else %}
    <p>You're not logged in </p>
    {% endif %}
    <div>
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>