.run {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  padding-top: 10px;
}
.avatar {
  border-radius: 50%;

}
.new {
  display: inline-block;
  position: relative;
  margin-top: 10px;
}
.navbar-dark .navbar-nav .nav-link {
  font-size: x-large;
}
body {
  font-family: "Ubuntu";
}
.left-bar {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: top;
  margin-right: 10px;

  }
.jumbotron {
  display: inline-block;
  position: relative;
  width: 70%;
  border-radius: 5%;
  vertical-align: top;
  margin-top: 10px;

}
.rocket {

}
.wing {
  position: relative;
  left: 150px;
}
.list-todo {
  margin-right: auto;
  margin-left: auto;
  background-color: #cccccc;
  border: solid;
  border-radius: 30px;
  width: 50%;
  height: 35px;
  text-align: center;
  vertical-align: middle;
}
.h3 {
  text-align: center;
}
.flor-but {
  margin-left: 350px;
}
.main-todo {
  display: grid;
  grid-template-columns: 45% 45%;
}
.td {
  display: block;
  width:20%;
  margin-right: auto;
  margin-left: auto;
}
.tdv {
  position: fixed;
  width: 30%;
  height: 30%;
  left: 0;
}
.post-img {
  display: block;
  width: 50%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}
.bc {
   display: grid;
   grid-template-columns: 40% 40%;
   grid-template-rows: 25rem;
   column-gap: 20px;
   row-gap: 20px;
   justify-content: center;
   width: 100%;
   background-color: #DDDFD4;
}
.post {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
}
.uk {
  margin-left: 250px;
  margin-bottom: 10px;
}
.post-detail {
  display: block;
  width: 70%;
  border: solid;
  border-radius: 10px;
  border-color: blue;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn-bot {
  display: block;
  width: 33%;
  margin-right: auto;
  margin-left: auto;
}
.img-post-det {
  display: block;
  width: 40%;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}
.l_books {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}
.book {
  position: fixed;
  width: 30%;
  height: 65%;
  left: 0;
  margin-left: 25px;
  margin-top: 25px;
}